name: Docker
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Nexus
        uses: docker/login-action@v1
        with:
          registry: nx.astroconda.org
          username: ${{ secrets.NEXUS_DOCKER_USERNAME }}
          password: ${{ secrets.NEXUS_DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: nx.astroconda.org/painengine/linepipe:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
