name: Docker
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        id: clone
        uses: actions/checkout@v2

      - name: Set build variables
        id: vars
        run: echo ::set-output name=scm_version::$(python setup.py --version)

      # build-push-action@v2 is not working (yet?)
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v1
        with:
          registry: nx.astroconda.org
          username: ${{ secrets.NEXUS_DOCKER_USERNAME }}
          password: ${{ secrets.NEXUS_DOCKER_PASSWORD }}
          repository: painengine/linepipe
          tags: ${{ steps.vars.output.scm_version }}
          tag_with_ref: true
          add_git_labels: true

      # requires v2
      #- name: Image digest
      #  run: echo ${{ steps.docker_build.outputs.digest }}
